<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap" rel="stylesheet"> 
	<style type="text/css">
		*{
			bodx-sizing:boder-box;
			padding: 0;
			margin: 0;
			font-family: 'Titillium Web', sans-serif;
			font-size: 16px;
		}
		h1,h2,h3{
			font-size: 35px;
		}
		ul{
			display: flex;
			justify-content: space-around;
		}
		li{
			display:inline-flex;
			list-style: none;
		}
		a{
			color: blue;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<header>
		<h1>Deash</h1>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/novo/produto">+Produto</a></li>
				<li><a href="/nova/categoria">+Categoria</a></li>
				
			</ul>
		</nav>
	</header>

	<h2>Página inicial</h2>



</body>
</html>