<!DOCTYPE html>
<html lang="pt-br">
<head>

	<meta charset="utf-8">

	<title>Cadastro Categoria</title>
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/public/style">

	<meta name="description" content="Painel de Controle">
 	<meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Quevem Costa da Cruz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<header>
		<h1>Deash</h1>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/novo/produto">+Produto</a></li>
				<li><a href="/nova/categoria">+Categoria</a></li>
				
			</ul>
		</nav>
	</header>

	<main>
		<section>
			<h2>Nova Categoria</h2>
			<form autocomplete="off" id='fom-category'   >
				<div>
					<label for="categoria">Categoria</label>
					<input type="text" id="categoria" name="categoria" placeholder="Categoria">
					<button type="submit" >Criar</button>
				</div>
			</form>
		</section>

		<section >

			<div id="msg-response">
				
			</div>

			<table>
				<thead>
					<tr>
						<th>Cod</th>
						<th>Nome</th>
					</tr>
				</thead>
				<tbody id='renderResponse' >
					
				</tbody>
			</table>
			
		</section>
	</main>

	<script type="text/javascript" src="http://localhost:3000/public/nova/categoria" ></script>
</body>
</html>
