<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap" rel="stylesheet"> 
	<style type="text/css">
		*{
			bodx-sizing:boder-box;
			padding: 0;
			margin: 0;
			font-family: 'Titillium Web', sans-serif;
			font-size: 16px;
		}
		h1,h2,h3{
			font-size: 35px;
		}
		ul{
			display: flex;
			justify-content: space-around;
		}
		li{
			display:inline-flex;
			list-style: none;
		}
		a{
			color: blue;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<header>
		<h1>Deash</h1>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/novo/produto">+Produto</a></li>
				<li><a href="/nova/categoria">+Categoria</a></li>
				
			</ul>
		</nav>
	</header>

	<section>
		<h2>Nova Categoria</h2>
		<form autocomplete="off" id='fom-category'   >
			<label for="categoria">Categoria</label>
			<input type="text" id="categoria" name="categoria" placeholder="Categoria">
			<button type="submit" >Criar</button>
		</form>
	</section>
	<section >

		<div id="msg-response">
			
		</div>

		<table>
			<thead>
				<tr>
					<th>Cod</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody id='renderResponse' >
				
			</tbody>
		</table>
		
	</section>


	<script type="text/javascript">

		const form = document.getElementById('fom-category');

		async function postData(url, data = {}){
			const response = await fetch(url,{
				method:'POST',
				mode:'cors',
				cache:'no-cache',
				headers:{
					'Content-Type':'application/json'
				},
				body:JSON.stringify(data)
			});
			return response.json();

		}

		function renderResponse(data){
	
			const msgResponse =  document.getElementById('msg-response')
			msgResponse.innerHTML= `<span>Sucesso { Cod ${data.id} Categoria: ${data.name}}</span>`;

		}


		form.addEventListener('submit',function(e){
			e.preventDefault()

			postData('http://localhost:3000/api/category', {name:e.target[0].value})
			.then(data => {
				renderResponse(data);
			});

			e.target[0].value = ''

		})
	</script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>