<!DOCTYPE html>
<html lang="pt-br">
<head>

	<meta charset="utf-8">

	<title>Cadastro Categoria</title>
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600;700&display=swap" rel="stylesheet"> 

	
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/public/style">

	<meta name="description" content="Painel de Controle">
 	<meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Quevem Costa da Cruz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<header>
		<h1>Deash</h1>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/novo/produto">+Produto</a></li>
				<li><a href="/nova/categoria">+Categoria</a></li>
				
			</ul>
		</nav>
	</header>


	<main>
		<section>
			<h2>Novo Produto</h2>

			<form autocomplete="off" id='form-product' enctype="multipart/form-data"  >
				<div>
					<label for="name" >Nome</label>
					<input type="text" name="name" id="name" placeholder="Nome">

					<label for="description" >Descrição</label>
					<textarea name="description" id="description" cols="35" rows="5" placeholder="Escreva alguns detales sobre o produto" ></textarea>

					<label for="categoryId" >Codigo de Categoria</label>
					<input list="categories"  name="categoryId" id="categoryId">
					
					<datalist id="categories" >
						<option>Selecione</option>	
					</datalist>
				</div>

				<div>

					<label for="cashValue" >A vista</label>
					<input type="text" name="cashValue" id="cashValue">

					<label for="termValue" >Parcelado</label>
					<input type="text" name="termValue" id="termValue">

					<label for="image" ></label>
					<input type="file" name="image" id="image">

					<button type="submit">Cadastrar</button>
					<a href="/" >Cancelar</a>
				</div>
			</form>
		</section>
	</main>


<script type="text/javascript" src="http://localhost:3000/public/novo/produto" ></script>

</body>
</html>
